C:\Users\vitos\Desktop\AI_SECTOR_FINAL
├─eslint.config.js
├─index.html
├─package-lock.json
├─package.json
├─README.md
├─tsconfig.app.json
├─tsconfig.json
├─tsconfig.node.json
├─vite.config.ts
├─src
|  ├─App.css
|  ├─App.tsx
|  ├─index.css
|  ├─main.tsx
|  ├─assets
|  |   └react.svg
├─public
|   ├─sector88.jpg
|   └vite.svg
├─.vercel
|    ├─project.json
|    └README.txt
node_modules
